<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - elFinder.Net Sample ASP.NET MVC app</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/themes/ui-lightness/css", "~/Content/css")

        @Scripts.Render("~/Scripts/js")

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("elFinder.Net Web", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Files", "Files", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; 2013-@DateTime.Now.Year - elFinder.Net Sample ASP.NET MVC app</p>
                </div>
                <div class="float-right">
                    <p>Sample app by <a href="http://leniel.net" target="_blank">Leniel Macaferi Consulting</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>
